<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>University Admit Eligibility Predictor</title>
    
</head>
<body class="index-page">
    <div class="index">
        <h1>University Admit Eligibility Predictor</h1>
        <h2 class="text-responsive-h">
            Enter your details and get probability of your admission
        </h2>
        <p class="text-responsive">
            Students are often worried about their chances of admission to University. The aim of this project is to help students in shortlisting universities with their profiles. 

        </p>
        <p class='test-responsive'>
            The predicted output gives them a fair idea about their admission chances in a particular university. This analysis should also help students who are currently preparing or will be preparing to get a better idea.
        </p>
        
        <img src="C:\Users\ELCOT\Desktop\moni\static\img\checking.jpg" class="card-img-top" alt="..." />
        
    
        <a href="C:\Users\ELCOT\Desktop\moni\templates\demo2.html"><button type="button" class="btns">Check Eligibility</button></a>
    </div>  
</body>
</html>